* {
    margin: 0;
    padding: 0;
}

.wrap-1 {
    background: #05d5f4;
}

.wrap-2 {
    background: #b7bbbb;
}

.wrap-3 {
    background: #161f3d;
}

.textColor-1 {
    color: #05d5f4;
}

.textColor-2 {
    color: #b7bbbb;
}

.textColor-3 {
    color: #161f3d;
}

.box {
    width: 100%;
    height: 300px;
}

.header {
    height: 500px;
}

.header__top {
    height: 10%;
    box-sizing: border-box;
}

.h__top__items {
    text-align: right;
    font-size: 20px;
    padding-top: 10px;
    margin-right: 50px;
}

.header__center {
    height: 20%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.h__center__button {
    width: 7%;
    height: 70%;
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 10px;

}

.h__center__items {
    justify-content: flex-end;
    font-size: 35px;
    padding-top: 10px;
    margin-right: 50px;
}

.header__bottom {
    height: 75%;
    box-sizing: border-box;
}

.h__bottom__description {
    padding-top: 30px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.h__bottom__button {
    width: 15%;
    height: 15%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.main__img {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.img__container {
    width: 80%;
    height: 80%;
    border: #05d5f4 solid 5px;
    border-radius: 20px;
}

.img__container > h2 {
    text-align: center;
    margin-bottom: 20px;
}


.img__gallery {
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    display: flex;
}

.gallery__item {
    width: 17%;
    height: 90%;
    margin-top: 10px;
}

.item__image {
    width: 100%;
    height: 85%;
    border-radius: 25px;
}

.item__description {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}


.main__photo {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.photo__item {
    width: 20%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo {
    width: 60%;
    height: 50%;
    border-radius: 50%;
    margin-top: 20px;

}

.photo__item:nth-child(even) {
    border: #05d5f4 solid 5px;
}

.photo__item > h3 {
    text-align: center;
}

.catalog {
    width: 100%;
    height: 1500px;
}

.catalog > h2 {
    text-align: center;
    padding-top: 30px;
}

.catalog__items {
    width: 80%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalog__item {
    width: 30%;
    height: 40%;
    margin-top: 10px;
}

.catalog__main {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    border: #05d5f4 solid 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.c__item__img {
    width: 90%;
    height: 40%;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.c__item__description {
    margin-top: 20px;
    justify-content: space-evenly;

}

.description__titles {
    width: 90%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;
    margin-left: 7px;
    margin-bottom: 20px;
}

.c__item__description > h3, .c__item__description > h4 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.catalog__footer {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-bottom: #05d5f4 solid 5px;
    border-right: #05d5f4 solid 5px;
    border-left: #05d5f4 solid 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__bigIcon {
    width: 15%;
    height: 80%;
    border-radius: 10px;
    margin-left: 10px;

}
.c__footer__icons{
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center

}

.icons__block{
    width: 30%;
    height: 40%;
    border-radius: 5px;
}

.info {
    width: 80%;
    height: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.info__box {
    width: 50%;
    height: 100%;
    text-align: start;
}

.info__box > h2 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.info__box > h3 {
    width: 90%;
    margin-left: 10px;
    font-size: 25px;
}

.info__button {
    width: 30%;
    height: 7%;
    border-radius: 20px;
    position: relative;
    top: 80px;
    left: 40px;
}

.footer {
    width: 100%;
    height: 150px;
}

.footer__icons {
    width: 100%;
    height: 60%;
    justify-content: center;
    display: flex;
    column-gap: 20px;
}

.icon {
    margin-top: 40px;
    width: 2.5%;
    height: 40px;
    border-radius: 10px;
}

.line {
    margin-top: 10px;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}









