* {
    margin: 0;
    padding: 0;
}

.wrap-1 {
    background: #05d5f4;
}

.wrap-2 {
    background: #b7bbbb;
}

.wrap-3 {
    background: #161f3d;
}

.textColor-1 {
    color: #05d5f4;
}

.textColor-2 {
    color: #b7bbbb;
}

.textColor-3 {
    color: #161f3d;
}

.box {
    width: 100%;
    height: 300px;
}

.header {
    height: auto;
}

.header__top {
    box-sizing: border-box;
}

.header__contacts {
    text-align: right;
    font-size: 20px;
    padding-top: 10px;
    margin-right: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}


.header__center {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.button {
    width: 5%;
    padding: 20px;
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__nav {
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    font-size: 35px;
    padding-top: 10px;
    margin-right: 50px;
}

.header__bottom {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 150px;
}

.header__title {
    margin: 20px;
    box-sizing: border-box;
}

.header__description {
    width: 33%;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.header__bottom > .button {
    width: 10%;
    margin: 0;
    border-radius: 50px;
    padding-bottom: 10px;
}

.main {
    width: 100%;
    height: auto;
}

.main__top {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main__border {
    border: #05d5f4 solid 5px;
    border-radius: 60px;
    padding: 30px;
}

.main__border > h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.main__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.gallery__item {
    margin-top: 10px;
    margin-bottom: 30px;
}

.item__image {
    padding: 120px;
    border-radius: 25px;
}

.item__description {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}


.main__photos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
}

.photo__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.photo {
    padding: 100px;
    height: 50%;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.photo__item:nth-child(even) {
    border: #05d5f4 solid 5px;
}

.photo__item > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.photo__item > h3 {
    text-align: center;
    margin-bottom: 30px;
}

.catalog {
    padding-bottom: 40px;
}

.catalog > h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

.catalog__items {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
}

.catalog__item {
    width: 30%;
    margin-top: 10px;
}

.catalog__main {
    width: 100%;
    box-sizing: border-box;
    border: #05d5f4 solid 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.catalog__img {
    width: 90%;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.catalog__description {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.description__titles {
    width: 90%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;
    margin-left: 7px;
    margin-bottom: 20px;
}

.catalog__footer {
    width: 100%;
    box-sizing: border-box;
    border-bottom: #05d5f4 solid 5px;
    border-right: #05d5f4 solid 5px;
    border-left: #05d5f4 solid 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bigIcon {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
}

.catalog__icons {
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center
}

.icons__block {
    padding: 8px;
    border-radius: 5px;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.info{
    margin-top: 100px;
    margin-bottom: 100px;
}
.info__box {
    text-align: start;
    flex-grow: 1;
}

.info__box > h2 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.info__box > h3 {
    width: 90%;
    margin-left: 10px;
    font-size: 25px;
}

.info__box > .button {
    width: 20%;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer__icons {
    width: 100%;
    justify-content: center;
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
}

.icon {
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
}

.line {
    margin-top: 10px;
    width: 20%;
    height: 5px;
    border-radius: 5px;
}







