.wrap {
    display: flex;
    background: bisque;
    height: 1000px;
    width: 1200px;
    border: blue solid 5px;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 18px;
}

.block {
    background: aquamarine;
    border: blueviolet solid 5px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;

}

.a {
    width: 100%;
    height: 33.2%;
}

.b {
    width: 100%;
    height: 49%;
}

.box {
    width: 74%;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: unset;
}

.f {
    width: 25%;
    height: 66%;
}

.c {
    height: 49%;
    flex-grow: 1;
}

.main-box {
    width: 74%;
    height: 66%;

}

.help-box {
    display: flex;
    width: 100%;
    height: 49%;
    column-gap: 10px;
    margin-bottom: 11px;
}

.help {
    height: 100%;
    flex-grow: 1;
}

.first {
    display: flex;
    width: 100%;
    height: 49.5%;
    column-gap: 10px;
}

.second {
    width: 100%;
    height: 24%;

}

.third {
display: flex;
    height: 24.5%;
    width: 100%;
    column-gap: 10px;
}

.add {
    flex-grow: 1;
}

.add-1{
    flex-grow: 1;
}
