* {
    padding: 0;
    margin: 0;
}



.wrap {
    background: coral;
    border: black solid 5px;
    box-sizing: border-box;
}

.block__design {
    background: aquamarine;
    border: blueviolet solid 5px;
    box-sizing: border-box;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__box {
    height: 70%;
    width: 8%;
    margin: 10px;
}

.main {
    height: 1500px;
    width: 100%;
    column-gap: 10px;
    display: flex;
}

.main__box-1 {
    width: 15%;
    height: 100%;
}

.main__box-1__filling {
    height: 5%;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main__box-2 {
    width: 85%;
    height: 100%;
}

.main__box-2__img {
    height: 20%;
    width: 100%;
}

img {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.main__box-2__text {
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 50px;
    margin-bottom: 10px;
    justify-content: space-evenly ;
}

.main__box-2__textBlock{
    width: 20%;
    height: 100%;
}

.main__box-2__container {
    height: 57.5%;
    box-sizing: border-box;
    display: flex;
}

.main__box-2__items {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__box-2__item {
    width: 35%;
    height: 10%;
}

.main__box-2__list {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

ul {
    margin-left: 50px;
    font-size: 50px;
}

.footer{
    width: 100%;
    height: 10%;
}
.help{
    height: 100%;
    width: 80%;
}

.main__box-2__itemEnd{
    height: 4%;
    width: 10%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

